@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --web-color: #00A8FF;
    --white: #fff;
    --dark: #3A3A3A;
    --black: #000;
}
 /* Utilities scc */
 /* h3{
    
 } */


 /* Utilities scc */

nav.navbar {
    position: fixed;
    top: 30px;
    z-index: 9;
    width: 70%;
    left: 15%;
    border-radius: 50px;
}

.navbar-nav .nav-link {
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 25px;
    display: inline-block;
}

.navbar-nav .nav-link.active {
    color: var(--web-color);
}

.all-btn {
    padding: 20px 25px !important;
    background-color: var(--web-color) !important;
    color: var(--white) !important;
    border-radius: 50px;
}

.all-btn:hover {
    background-color: var(--black) !important;
    color: var(--web-color) !important;
    transition: 0.6s !important;
}

.carousel-caption ul {
    display: flex;
    list-style: none;
    margin: 0px 0px 0px -110px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h5 {
    color: var(--white);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.carousel-caption p {
    padding: 30px 0px 57px 0px;
}

.carousel-caption h5 span {
    color: var(--web-color);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    padding: 20px;
    border: 2px solid var(--white);
    border-radius: 50px;
}

/* Start section 1 group 21 */
.pump-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 213px 0px 140px 0px;
}

.pump-img img {
    padding: 32px 0px;
    background-color: #EEF1F6;
    border-radius: 111px;
}

.had-text .r-text h3 {
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    text-align: left;
    padding-right: 145px;
    color: var(--black);
}

.had-text .r-text h3 span {
    color: var(--web-color);
}

.had-text .l-text p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 45px;
}
.section-1-row-2{
    padding: 100px 0px 0px 0px;
}


.row-2-text h5 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.row-2-text h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    text-align: left;
    padding-right: 145px;
    color: var(--black);
}

.row-2-text h3 span {
    color: var(--web-color);
}

.row-2-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

/* Start section-3 Rectangle 17 */
.rectangel {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/Assestes/Images/Rectangle-bg.png) fixed center center;
    background-size: cover;
    color: var(--white);
    margin: 140px 0px 111px 0px;
}

.rectangel-item h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding: 100px 0px 4px 0px;
}

.rectangel-item h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    text-align: left;
    padding-bottom: 50px;
    color: var(--white);
}

.rectangel-item h3 span {
    color: var(--web-color);
}

.rectangel-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding-bottom: 100px;
}

/* start rectengle dtls */
.rectangel-dtls h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.rectangel-dtls h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    text-align: left;
    color: var(--black);
}

.rectangel-dtls h3 span {
    color: var(--web-color);

}

.rectangel-dtls p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

/* and rectengle dtls */
/* Amd section-3 Rectangle 17 */

/* Start section 4 rectangel 8 */
.rectangel-8 {
    background-color: #EDF9FF;
    margin: 100px 0px;
}

.rectangel-8-r-text h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding: 166px 0px 0px 0px;
}

.rectangel-8-r-text h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    text-align: left;
    color: var(--black);
    padding: 4px 50px 166px 0px;
}

.rectangel-8-r-text h3 span {
    color: var(--web-color);
}
.owl-two-2 .owl-nav .owl-prev span{
  display: none;
}
.owl-two-2 .owl-nav .owl-next span {
    position: absolute;
    top: 152px;
    font-size: 44px;
    right: 81px;
    background: #b7b3b3;
    padding: 0px 26px;
    border-radius: 60px;
 }

.item-pdf {
    background-color: var(--white);
    padding: 30px 60px;
    border-radius: 50px;
    text-align: center;
    position: relative;
}

.item-pdf img {
    width: 115px !important;
    margin: auto;
}

.item-pdf p {
    font-size: 20px;
    font-weight: 600;
    line-height: 69px;
    text-align: center;
    color: var(--black);
}

.item-pdf a {
    font-size: 16px;
    font-weight: 400;
    line-height: 69px;
    text-align: center;
    color: var(--web-color);
    text-decoration: none;
    display: block;
}

/* Atart section 4 rectangel 8 */

/* Start section 5 vision and mission */

.section-5-head-text h5 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding: 40px 0px 4px 0px;

}

.section-5-head-text h3 {
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
    color: var(--black);
    padding-bottom: 22px;
}

.section-5-head-text h3 span {
    color: var(--web-color);
}

.section-5-head-text p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 61px;
    color: var(--dark);
}

.section-5-card a img {
    padding: 16px;
    background-color: #EEF3F6;
    border-radius: 50px;
    transition: 0.4s;

}

.section-5-card a img:hover {
    background-color: var(--black);
}

.section-5-card h4 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 69px;
    text-align: left;
    color: var(--black);
}

.section-5-card p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--dark);
    padding: 0px 74px 144px 0px;
}

/* And section 5 vision and mission */
/* Strat section 6 rectangel 13 */
.rectengel-13 {
    background-color: #F8F8F8;
}

.section-6-head h5 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--black);
    padding: 96px 0px 11px 0px;
}

.section-6-head h3 {
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
    color: var(--black);
}

.section-6-head h3 span {
    color: var(--web-color);
}

.section-6-cards {
    padding-bottom: 100px;
}

.section-6-cards .cards-s-6 p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--dark);
}

.cards-s-6 ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
}

.cards-s-6 {
    background-color: var(--white);
    padding: 31px 21px 0px 37px;
    border-radius: 26px;
    margin: 50px 10px 56px 9px
}

.cards-s-6 ul li h4 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    color: var(--black);
    padding: 20px 0px 46px 0px;
}

/* And section 6 rectangel 13 */
/* Start footer */
.t-fooer {
    background-color: #0D2242;
    padding-bottom: 50px;
}

.t-fooer h5 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 69px;
    text-align: left;
    color: #FFF4F4;
    padding: 169px 0px 20px 0px;
    transition: 0.6s;
}

.t-fooer .f-text a {
    text-decoration: none;
    color: var(--white);
}

.t-fooer .f-text a p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    transition: 0.6s;
    padding-bottom: 5px;
}

.t-fooer .f-text a p:hover,
.t-fooer h5:hover {
    color: var(--web-color);
    margin-left: 20px;
}

.line-footer {
    background-color: var(--web-color);
    padding: 1px 0px;
    margin: 0px;
}

/* Start sub footer */

.sub-footr {
    background-color: #0D2242;
    color: var(--white);
    padding: 90px 0px 61px 0px;
}

.sub-footr .sub-f-text h5 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 69px;
    text-align: left;
    color: #FFF4F4;
    transition: 0.4s;
}

.sub-footr .sub-f-text h5:hover {
    color: var(--web-color);
    margin-left: 4px;
    border-bottom: 2px solid var(--web-color);

}

.sub-footr .sub-f-text a {
    text-decoration: none;
    padding: 0px 0px;
    color: var(--white);

}

.sub-footr .sub-f-text a p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    transition: 0.4s;
}

.sub-footr .sub-f-text a p:hover {
    color: var(--web-color);
    margin-left: 20px;

}

.sub-footr .sub-f-text .contect-footer {
    display: flex;
    align-items: center;
}

.sub-footr .sub-f-text .contect-footer i {
    font-size: 32px;
    padding: 0px 23px 12px 0px;
    transition: 0.2s;
}

.sub-footr .sub-f-text .contect-footer p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    transition: 0.4s;
}

.sub-footr .sub-f-text .contect-footer p:hover {
    color: var(--web-color);
    margin-left: 20px;

}

.sub-footr .sub-f-text .contect-footer i:hover {
    color: var(--web-color);
}


/* And sub footer */

/* And footer */


/* Start About page */

/* Start banner */
.p-2-banner {
    position: relative;
}
.p-2-banner img{
    width: 100%;
}

.p-2-banner .banner-text {
    position: absolute;
    right: 44%;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
}

.p-2-banner .banner-text h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 68px;
    text-align: center;
}

.p-2-banner .banner-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

/* And banner */

/* Start section-1-page-2 Company profile */
.Company-profile p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--black);
    padding: 100px 0px 21px 0px;

}

h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    text-align: left;
    color: var(--black);
}

h3 span {
    color: var(--web-color);
}

.Company-profile .pera-2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--dark);
    padding: 33px 0px 50px 0px !important;
}

.Company-profile img {
    width: 100%;
    padding-bottom: 100px;
}

.vision-p-2 img {
    width: 100%;
}

.vision-p-2-dtl h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--black);
    padding: 68px 0px 4px 0px;
}

.vision-p-2-dtl p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--dark);
    padding: 30px 0px 170px 0px;
}

/* And section-1-page-2 Company profile */

/* Start section -2 page-2 clients-references */
.clients-references {
    background-color: #F6F5F5;
    padding-bottom: 50px;
}

.clients-references .clients-item h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding: 50px 0px 25px 0px;
}

.clients-references .clients-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding: 30px 0px 50px 0px;
}

.about-p-1 .item img {
    max-width: 240px;
    max-height: 145px;
}

.about-l-1 {
    padding: 0px 0px 0px 0px !important;
}

.about-p-1 .carasol-1 {
    background-color: var(--white);
    padding: 34px;
    border-radius: 20px;
    object-fit: contain;
}

/* And section -2 page-2 clients-references */

/* Start section  3  about bage our team */
.our-team h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding: 100px 0px 15px 0px;
}

.our-team .team-card {
    background-color: #D9D9D9;
    border-radius: 30px;
    padding: 30px;
    margin: 50px 0px 100px 0px;
}

.our-team .team-card .team-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-team .team-card .team-img img {
    width: 100px;
    height: 100px;
}

.our-team .team-card h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #254D89;
    padding: 30px 0px 17px 0px;
}

.our-team .team-card h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left !important;
    padding: 0px 0px 30px 0px;
    color: var(--black);
}

.our-team .team-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--dark);
}

/* And section  3  about bage our team */

/* Start section 4 about bage Where to install */

.Where-to-install {
    background: linear-gradient(hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 0%, 0.4)), url(../Images/About-page/wher-to-install-bg.png) center center fixed;
    padding: 60px 0px 99px 0px;
    background-size: cover;
}

.Where-to-install .install-cards {
    background-color: var(--white);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.Where-to-install h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--white);
}

.Where-to-install .install-h3 {
    text-align: center;
    padding-bottom: 40px;
    color: var(--white);
}

.Where-to-install .install-cards img {
    width: 267px;
    height: 226px;
}

.Where-to-install .install-cards p {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: var(--black);
    padding: 18px 0px 0px 0px;
    margin: 0px;
}

/* and section 4 about bage Where to install */

/* Start section 5 about page Why Pneutork */
.Why-Pneutork h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--dark);
    padding: 100px 0px 10px 0px;
}

.Why-Pneutork .Why-Pneutork-h3 {
    text-align: center;
    padding-bottom: 25px;
}

.Why-Pneutork .pneutork-item {
    border: 1px solid #CBC5C5;
    margin: 15px 0px;
    border-radius: 12px;
}

.Why-Pneutork .pneutork-item p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding: 32px 0px 28px 11px;
    color: var(--dark);
    margin: 0px;
}

.Why-Pneutork .pneutork-item p span {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    background-color: #DFF4FF;
    border-radius: 50px;
    padding: 12px 22px;
    margin-right: 11px;
}

/* Start Our Clients */

.Our-Clients {
    margin: 100px 0px;
    padding: 60px 62px;
    background-color: #EDF9FF;
    border-radius: 25px;
}

.Our-Clients h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--dark);

}

.Our-Clients .our-clients-dtl {
    display: flex;
    align-items: center;
}

.Our-Clients .our-clients-dtl img {
    width: 244px;
    height: 239px;
    padding: 30px 35px 0px 0px;
}

.Our-Clients .our-clients-dtl div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--dark);
}

.Our-Clients .our-clients-dtl div h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #254D89;

}

.Our-Clients .our-clients-dtl div i {
    border: 2px solid black;
    border-radius: 50px;
    padding: 11px 14px;
    margin-top: 30px;
}

.Our-Clients .our-clients-dtl div i:hover {
    color: var(--web-color);
    background-color: var(--black);
    border: 2px solid var(--web-color);
}

/*  And Our Clients */

/* And section 5 about page Why Pneutork */

/* Start section 6 about page Our Certification */
.Our-Certification h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--black);

}

.Our-Certification .Our-Certification-h3 {
    text-align: center;
    padding: 25px 0px 110px 0px;
}

.about-p-3-item img {
    padding-bottom: 60px;
}

.Send-Inquiry {
    display: flex;
    align-items: center;
    padding: 60px 60px 0px 60px;
    margin: 100px 0px;
    border-radius: 25px;
    justify-content: space-between;
    background: linear-gradient(to right, #00A8FF, #74CDFB);
}

.Send-Inquiry .inqiry-text h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    text-align: left;
    color: var(--white);
}

.Send-Inquiry .inqiry-text h2 span {
    color: #FFE1B4;
}

.Send-Inquiry .inqiry-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--white);
    padding: 29px 0px 30px 0px;
}

.Send-Inquiry .inqiry-btn .white-btn {
    background-color: var(--white) !important;
    color: var(--web-color) !important;
    padding: 24px 50px !important;
    margin: -55px 0px !important;
}

.Send-Inquiry .inqiry-btn .white-btn:hover {
    background-color: var(--bslack) !important;
    color: var(--web-color) !important;

}

/* And section 6 about page Our Certification */

/* And Abou page */


/* Start contact us page */

/* Start section 1 contact us page offices */
.offices{
    padding: 100px 0px;
}
.offices .office-brand-map img{
    width: 446px;
}




/* And section 1 contact us page offices */





/* And contact us page */